$themeRed: #F55263;
$themeBlack: #070707;
$themeFooterBGGrey: #414141;
$themeTextDark: #3E3E3E;
$themGrey: #979797;
$themeBorderGrey: #D8D8D8;
$themBGGrey: #F5F5F5;
$themeWhite: #ffffff;
$themeGreenRating: #B8E986



